<!-- <form>
  <div class="form-group">
    <label for="firstName">First Name: </label>
    <input required ngModel name='firstName' #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea id="comment" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" > Submit </button>

  
</form> -->

<app-nav></app-nav>
<router-outlet></router-outlet>
<!-- <app-shopping-cart></app-shopping-cart> -->
<div class="container">
  
  <div class="row">
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>
